#div_menu{
    background-color:chartreuse;
    position: sticky;
    top:0%;
    margin-top: 0px;
    height: 80px;
    z-index: 2;
}
#div_menu ul{
    display: flex;
    list-style: none;
    margin-left: 920px;

}

#div_menu li{
    padding: 20px;
    padding-top: 30px;
}

#div_menu button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: Arial;
    cursor: pointer;
    border-radius: 6px;

}

#div_menu button:hover{
    background-color: rgb(66, 65, 65);
}

a{
    text-align: right;
    font-size:14px;
    font-family:'Arial';
}

/*NEED TO UNDERSTANT*/
#div_menu ul li:first-child {
    position: absolute;
    left: 10px;     
    top: 0px;    
}


/*-------------------------------------*/
.image-wrapper {
    position: relative;
    width: 100%;
    height: 100vh; /* full screen height */
}

.cards-wrapper {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 30px;
}

.package-card {
    width: 280px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    background: #d7ffd4;
    font-family: Arial, sans-serif;
    margin: 20px auto;
    z-index:2;
}

.package-card h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #333;
}

.package-card p {
    margin: 6px 0;
    font-size: 16px;
    color: #555;
}

.package-card button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #2b2c2d;
    color: white;
    cursor: pointer;
}

.package-card button:hover {
    background: #5b5b5a;
}


/*--------------------*/

#footer_div{
    background-color:darkslategrey;
    height: 300px;
    margin-top: 6%;
}
#footer_div p{
    color:white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5%;
    padding-left: 5%;
}
#footer_div ul{
    width: 40px;
    height: 40px;
    display: flex;
    padding-left: 70px;
    list-style: none;
}