/*-------------------------Registration page-------------------*/

#registration_div{
    position: relative;
}
#login_div{
    background-color:chartreuse;
    position: absolute;
    top:10%;
    left:12%;
    width: 30%;
    height: 70%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
#login_div p{
    text-align: center;
    font-family: Arial;
}
#login_div img{
    display: block;
    margin-left: 130px;
    margin-right: auto;
    padding: 0%;
}
#login_div button{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;      /* makes margin:auto work */
    width: 280px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: Arial;
    font-size: 18px;
}
#login_div button:hover{
    background-color: rgb(66, 65, 65);
}

#regi_div{
    position: absolute;
    background-color: rgb(39, 38, 38);
    top:10%;
    left:42%;
    width: 46%;
    height: 70%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

#regi_div p{
    color: white;
    text-align: center;
    font-family: Arial;
}

#regi_div button{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;      /* makes margin:auto work */
    width: 280px;
    height: 40px;
    background-color:#7fff00;
    color:black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: Arial;
    font-size: 18px;
}

#regi_div button:hover{
    background-color: white;
}


/*-------------------------------*/
/* Parent container */
#regi_div {
    background-color:rgb(43, 43, 43);
    position: absolute;
    top:10%;
    left:40%;
    width: 50%;
    height: 70%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

/* Title paragraph */
#regi_div p {
    margin: 10px 0;
    font-size: 22px;
    color: #ffffff;
    margin-top:5%;
}

/* Form */
#regi_div form {
    margin-top:6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;  /* spacing between inputs */
    width: 100%;
    max-width: 400px; /* keeps it from getting too wide */
}

/* Input fields */
#username,
#email,
#setPassword,
#confirmPassword,
#usertype {
    width: 100%;
    margin-left: 85%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    align-items: center;
}



/* Submit button */
#submit {
    background-color: #7fff00;
    color: rgb(0, 0, 0);
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 105%;
    margin-left: 85%;
}

#submit:hover {
    background-color: #5cf564;
}
